
html{
width: 100vw;
height: 100vh;
background-color: #0E259C;
display: block;
}

.snow{
  position: fixed;
  margin: -2vh 0 0 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.snow1 img{
display: inline-block;
position:absolute;
width: 100vw;
height: 100vh;
background: url('../images/9078.png');
background-position: center;
background-size: cover;
animation: snowfalling 50s infinite;
 animation-delay: none;

}
.snow2 img{
  width: 100vw;
  height: 140vh;
 animation: snowfalling2 150s infinite;
 animation-delay: none;
 display: inline-block;
 position:absolute;
}
.snow3 img{
  width: 100vw;
  height: 140vh;
  transform: rotate(180);
 animation: snowfalling3 200s infinite;
 display: inline-block;
 position:absolute;
}

/* .snow{
  width: 100vw; position: fixed; margin: 0 0 0 0;
  overflow: hidden;
}
.snow-img{
  margin:0 0 0 0;
  width:100vw;
} */



.panel{
  position: relative;
  margin: 0 0 0 0;
  width: 100vw;
  height: 40vh;
}
.back {
  width: 96vw;
  height: 40vh;
  background-color: #0504CA;
  border-radius: 40px;
  border: 7px solid black;
  position: relative;
  margin: 2vh 0 0 1vw;
}

.bottons{
  position: fixed;
  margin: 1vh 0 0 41vw;
  width: 10vw;
  height: 42vh;
}

.botton1 img{
  /* background: url('../images/Rectangle 114.svg') no-repeat; */
  position: relative;
  width: 10vw;
  margin: 0 0 0 0;
}
.botton1 p{
  position: fixed;
  font-weight: normal;
  margin: -5vh 0 0 2.1vw;
}
.botton2 img{
  position: relative;
  width: 10vw;
  margin: 1vh 0 0 0;
}
.botton2 p{
  position: fixed;
  font-weight: normal;
  margin: -5vh 0 0 3.6vw;
}
.botton3 img{
  position: relative;
  width: 10vw;
  margin: 1vh 0 0 0;
}
.botton3 p{
  position: fixed;
  font-weight: normal;
  margin: -5vh 0 0 3.6vw;
}
.botton4 img{
  position: relative;
  width: 10vw;
  margin: 1vh 0 0 0;
}
.botton4 p{
  position: fixed;
  font-weight: normal;
  margin: -5vh 0 0 3.6vw;
}
.botton_light{
  display:none;
  position: relative;
  width: 10vw;
}

.indicator{
  background: url('../images/Frame 29.svg') no-repeat;
  position: fixed;
  width: 18.5vw;
  height: 7.5vh;
  top:12.5vh;
  left: 64vw;
  animation: indicator 10s steps(1) alternate infinite;
  transform: scale(1.2);
}
.indicator p{
  font-size: 16px;
    position: fixed;
    margin: -3vh 0 0 6vw;
    color: #FFFFFF;
}
.play{
  position: fixed;
  width: 25vw;
left: 63.5vw;
top: 19.5vh;
transform: scale(1.15);
}
.play1{
  position: fixed;
  margin: 0 0 0 0vw;
}
.play2{
  position: fixed;
  margin: 0 0 0 7vw;
}
.play3{
  position: fixed;
  margin: 0 0 0 14vw;
}
.play1 p{
  position: fixed;
  margin: 11vh 0 0 2vw;
  color: #FFFFFF;
  font-size: 16px;
}
.play2 p{
  position: fixed;
  margin: 11vh 0 0 2vw;
  color: #FFFFFF;
  font-size: 16px;
}
.play3 p{
  position: fixed;
  margin: 11vh 0 0 1.5vw;
  color: #FFFFFF;
  font-size: 16px;
}
.lights{
  position: fixed;
  top: 9vh;
  left: 90vw;
  width: 2.8vw;
  height: 29vh;
  background: url('../images/Frame 25.svg');
  animation: lights 10s steps(1) alternate infinite;
}
.screen{
  position: fixed;
top: 13vh;
left: 9vw;
 width: 10vw;
}
.screen p{
  position: fixed;
  margin: -4vh 0 0 1vw;
  color: #FFFFFF;
}
.numbers{
  position: fixed;
  top:16vh;
  left: 13vw;
  width: 3.4vw;
  height: 11vh;
  background: url('../images/Frame 26.svg');
  /* animation: numbers 10s steps(1) alternate infinite; */
}
.pm{
  position: fixed;
left: 9vw;
top: 30vh;
 width: 20vw;
  z-index: 100;
}
.plus{
  position: relative;
  margin: 0 0 0 0;
  z-index: 100;
}
.minus{
  position: relative;
  margin: -20vh 0 0 20vw;
  z-index: 100;
}

.circle1{
  position: fixed;
top: 12vh;
left: 23vw;
}
.circle1 p{
  position: fixed;
  margin: -3vh 0 0 1vw;
  color: #FFFFFF;
}
.points{
  position: relative;
margin: -8vh 0 0 2vw;
}
.circle2{
  position: fixed;
  left: 22vw;
  top: 25vh;
}
.circle2 p{
  position: fixed;
  margin: -2vh 0 0 1.9vw;
  color: #FFFFFF;
}
.points2{
  position: relative;
  margin: -10.5vh 0 0 3vw;
}

.bolts{
  position: fixed;
  top: 4.2vh;
  left: 0.8vw;
  width: 90vw;
  height: 40vh;
}
.bolt1 img{
  position: fixed;
  margin: 0vh 0 0 2vw;
  width: 2vw;
}
.bolt2 img{
  position: fixed;
  margin: 33vh 0 0 2vw;
  width: 2vw;
}
.bolt3 img{
  position: fixed;
  margin: 0vh 0 0 94vw;
  width: 2vw;
}
.bolt-logo img{
  position: fixed;
margin: 33vh 0 0 94vw;
width: 2vw;
}

.polzunok1{
  position: fixed;
top: 12vh;
left: 32vw;}
.polzunok1 p{
  position: fixed;
  margin: -30vh 0 0 1.7vw;
  color: #FFFFFF;
}
.circle-polzunok1{
  position: absolute;
  top: 8vh;
  left: 1.5vw;
}

.polzunok2{
  position: fixed;
top: 36.6vh;
left: 64vw;
}

.circle-polzunok2{
  position: absolute;
  top: 0vh;
  left: 1.5vw;
}

.stroke{
  position: fixed;
  border-radius: 30px;
  border: 5px solid #FB9333;
  backface-visibility: hidden;
  width: 45vw;
  height: 35vh;
  top: 5vh;
  left: 43vw;
}

.title1{
  position: fixed;
  top:2.6vh;
  left: 59vw;
  width: 14vw;
  height: 3vh;
}
.title1 p {
  font-size: 20px;
  font-weight: bold;
  color: #FB9333;
  background-color: #0504CA;
}
.stroke2{
  position: fixed;
  border-radius: 30px;
  border: 5px solid #FB9333;
  backface-visibility: hidden;
  width: 35vw;
  height: 35vh;
  top: 5vh;
  left: 6vw;
}
.merzlota{
  position: fixed;
top: 14.5vh;
left: 2.5vw;}
.title2{
  position: fixed;
  top:2.6vh;
  left: 15.5vw;
  width: 17vw;
  height: 3vh;
  align: center;
}
.title2 p {
  font-size: 20px;
  font-weight: bold;
  color: #FB9333;
  background-color: #0504CA;
}
.footter{
  position: fixed;
  top:17vh;
  left: 86.2vw;
  width: 17vw;
  height: 3vh;
  transform: rotate(270deg);
}
.footter p{
  font-size: 15px;
  font-weight: bold;
  color: #000000;
}

.smoke1{
  position: relative;
  margin: 0 0 0 0;
  width: 17vw;
  height: 29vh;
  background: url('../images/Frame 27 1.svg');
  animation: smoke1 5s steps(1) alternate infinite;
}
.smoke2{
  position: relative;
  margin: -40vh 0 0 40vw;
  width: 40vw;
  height: 50vh;
  background: url('../images/Frame 28 1.svg');
  animation: smoke2 5s steps(1) alternate infinite;
}

.zavod{
  position: relative;
  margin: 0 0 0 0;
  width: 100vw;
  height: 50vh;
}
.blok1 {
  position: fixed;
  margin: 0 0 0 -1vw;
}
.blok2 {
  position: fixed;
  width: 100%;
  margin: 5vh 0 0 10vw;
}
.blok3{
  position: fixed;
  margin: -12vh 0 0 20vw;
}
.blok4{
  position: fixed;
  margin: -12vh 0 0 29vw;
}
