@media all and (min-width: 1680px) and (max-width: 1700px) {
  .panel{
    width: 100vw;
    margin: 0 0 0 0;
  }
  .lights{
    width: 3.3vw;
  }
.footter{
  top: 20vh;
}
.indicator{
transform: scale(1);
width: 23vw;
left: 61.5vw;
top: 11vh;
}
.botton1, .botton2, .botton3, .botton4{
  transform: scale(1.2);
  margin-top: 1vh;
}
.play{
  transform: scale(1.1);
  left: 62.3vw;
  top: 19vh;
}

.polzunok2{
  left: 62vw;
}
.circle-polzunok1{
  left: 1.75vw;
}
.title1 p{
  font-size: 18px;
}
.title2 p{
  font-size: 18px;
}
.title1{
  width: 16vw;
  top: 2.1vh;
}
.title2{
  width: 20vw;
  top: 2.1vh;
}
.points{
  margin: -8vh 0 0 3vw;
}
.points2{
  margin: -11vh 0 0 3.8vw;
}
.numbers{
  width: 4vw;
}
.pm{
  top: 29vh;
  left: 9.2vw;
}
  .zavod{
    width: 100vw;
    margin: 0 0 0 0;
  }
   }
   @media all and (min-width: 1680px) and (max-width: 1800px){
     .play21, .play22, .play23{
       display: none;
     }
   }

@media all and (min-width: 1440px) and (max-width: 1679px) {
    /* pro 15 */
  .panel{
    width: 100vw;
    margin: 0 0 0 0;
  }
  .lights{
    width: 3.3vw;
  }
.footter{
  top: 20vh;
}
.indicator{
transform: scale(1);
width: 23vw;
left: 61.5vw;
top: 11vh;
}
.botton1, .botton2, .botton3, .botton4{
  transform: scale(1.2);
  margin-top: 1vh;
}
.play{
  transform: scale(1.1);
  left: 62.3vw;
  top: 19vh;
}
.play21, .play22, .play23{
  display: none;
}
.polzunok2{
  left: 62vw;
}
.circle-polzunok1{
  left: 1.75vw;
}
.title1 p{
  font-size: 18px;
}
.title2 p{
  font-size: 18px;
}
.title1{
  width: 16vw;
  top: 2.1vh;
}
.title2{
  width: 20vw;
  top: 2.1vh;
}
.points{
  margin: -8vh 0 0 3vw;
}
.points2{
  margin: -11vh 0 0 3.8vw;
}
.numbers{
  width: 4vw;
}
.pm{
  top: 29vh;
  left: 9.2vw;
}
  .zavod{
    width: 100vw;
    margin: 0 0 0 0;
  }
   }

   @media all and (min-width: 1280px) and (max-width: 1439px) {
     .botton1, .botton2, .botton3, .botton4{
       transform: scale(1.4);
       margin-top: 1.6vh;
     }
     .botton1 p, .botton2 p, .botton3 p, .botton4 p{
       font-size: 13px;
     }
     .footter{
       top: 19vh;
       width: 28vh;
       left: 85vw;
     }
     .lights{
       width: 3.7vw;
     }
     .indicator{
     transform: scale(0.9);
     width: 25.7vw;
     left: 61.5vw;
     top: 11vh;
     }
     .play{
       transform: scale(1);
       left: 62.3vw;
       top: 19vh;
     }
     .play2{
       left: 1vw;
     }
     .play3{
       left: 2.1vw;
     }
     .play21, .play22, .play23{
       display: none;
     }
     .polzunok2{
       transform: scale(0.85);
       left: 62vw;
       top: 35vh;
     }
     .polzunok1{
       transform: scale(0.95);
       left: 31vw;
       top: 12vh;
     }
     .circle-polzunok1{
       left: 1.75vw;
     }
     .title1 p{
       font-size: 18px;
     }
     .title2 p{
       font-size: 18px;
     }
     .title1{
       width: 16vw;
       top: 2.1vh;
     }
     .title2{
       width: 20vw;
       top: 2.1vh;
     }
     .points{
       margin: -8vh 0 0 3vw;
     }
     .points2{
       margin: -11vh 0 0 3.8vw;
     }
     .screen{
       transform: scale(0.9);
       top: 11.6vh;
       left: 8vw;
     }
     .pm{
       left: 8.5vw;
       top:27.5vh;
     }
     .screen p{
       width: 10vw;
     }
     .numbers{
       top: 2vh;
       left: 6vw;
       width: 5vw;
     }
   }

   @media all and (min-width: 1024px) and (max-width: 1279px) {
     .panel{
       width: 100vw;
       margin: 0 0 0 0;
     }
     .back{
       height: 30vh;
     }
     .stroke, .stroke2{
       height: 25vh;
     }
     .stroke2{
       width: 38vw;
       left: 7.5vw;
     }
     .stroke{
       width: 40vw;
       left: 48vw;
     }
     .lights{
       top: 4vh;
       width: 5.2vw;
       transform: scale(0.8);
     }
   .footter{
     top: 11vh;
     left: 82.5vw;
     width: 25vw;
   }
   .footter p{
        font-size: 11px;
   }
   .indicator{
   transform: scale(0.7);
   width: 32vw;
   left: 60vw;
   top: 8vh;
   }
   .botton1, .botton2, .botton3, .botton4{
     transform: scale(1.2);
     margin-top: 0.5vh;
   }
   .big-bottons{
     left: 52vw;
   }
   .botton1 p, .botton2 p, .botton3 p, .botton4 p{
     font-size: 13px;
   }
   .play {
     transform: scale(0.7);
     left: 60.5vw;
     top: 14vh;
   }
   .play2{
     left: 4vw;
   }
   .play3{
    left: 8vw;
   }
   .play21, .play22, .play23{
     display: none;
   }
   .polzunok2 {
     left: 60vw;
     top: 26vh;
     transform: scale(0.7);
   }
   .polzunok1{
     transform: scale(0.8);
     left: 33vw;
     top: 6vh;
   }
   .circle1{
     top: 8vh;
     transform: scale(0.8);
   }
   .circle2{
     top: 17vh;
     transform: scale(0.8);
   }
   .circle-polzunok1{
     left: 1.75vw;
   }
   .title1 p{
     font-size: 14px;
   }
   .title2 p{
     font-size: 14px;
   }
   .title1{
     width: 16vw;
     top: 2.1vh;
   }
   .title2{
     width: 20vw;
     top: 2.1vh;
   }
   .points{
     margin: -8vh 0 0 4vw;
   }
   .points2{
     margin: -11vh 0 0 4.7vw;
   }
   .screen{
     transform: scale(0.7);
     top: 8vh;
     left: 8vw;
   }
   .pm{
     left: 7vw;
     top:20vh;
     transform: scale(0.8);
   }
   .screen p{
     width: 14vw;
   }
   .numbers{
     top: 2vh;
     left: 6vw;
     width: 7vw;
   }
   .bolt2 img, .bolt-logo img{
     top: -4vh;
   }
   .bolt1 img, .bolt2 img{
     left: 2vw;
   }
   .merzlota{
     top: 9vh;
     transform: scale(0.7);
   }
     .zavod{
       width: 100vw;
       margin: 0 0 0 0;
     }
  }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    .panel{
      width: 100vw;
      margin: 0 0 0 0;
    }
    .back{
      height: 30vh;
    }
    .back2{
      top:10vh;
    }
    .stroke, .stroke2{
      height: 25vh;
    }
    .stroke2{
      width: 54vw;
      left: 8vw;
    }
    .stroke{
      width: 25vw;
      left: 66vw;
    }
    .lights{
      display: none;
    }
  .footter{
    top: 14vh;
    left: 81.5vw;
    width: 25vw;
  }
  .footter p{
       font-size: 11px;
  }
  .indicator{
  transform: scale(0.5);
  width: 43vw;
  left: 0vw;
  top: 24vh;
  }
  .botton1, .botton2, .botton3, .botton4{
    transform: scale(1.7);
    margin-top: 1.2vh;
  }
  .big-bottons{
    left: 74vw;
  }
  .botton1 p, .botton2 p, .botton3 p, .botton4 p{
    font-size: 9px;
    top: 6vh;
  }
  .botton1 p{
    top: 5vh;
  }
  .play {
    display: none
  }
  .play21 {
    transform: scale(0.7);
    top: 84vh;
    left: 30vw;
  }

  .play22 {
    transform: scale(0.7);
    top: 84vh;
    left: 45vw;
  }
  .play23 {
    transform: scale(0.7);
    top: 84vh;
    left:60vw;
  }
  .play22 p {
  top: 10vh;
  left: 3.8vw;
  }
  .play21 p {
  top: 10vh;
  left: 4.9vw;
  }
  .play23 p {
  top: 10vh;
  left: 3.8vw;
  }

  .polzunok2 {
    display: none;
  }
  .polzunok1{
    transform: scale(0.8);
    left: 46vw;
    top: 6vh;
  }
  .circle1{
    top: 8vh;
    left: 35vw;
    transform: scale(0.8);
  }
  .circle2{
    top: 17vh;
    left: 33vw;
    transform: scale(0.8);
  }
  .circle-polzunok1{
    left: 3.4vw;
  }
  .title1 p{
    font-size: 14px;
  }
  .title2 p{
    font-size: 14px;
  }
  .title1{
    width: 24vw;
    top: 2.1vh;
    left: 55vw;
  }
  .title2{
    width: 29vw;
    top: 2.1vh;
    left: 23vw;
  }
  .points{
    margin: -8vh 0 0 5.5vw;
  }
  .points2{
    margin: -11vh 0 0 6.5vw;
  }
  .screen{
    transform: scale(0.66);
    top: 6vh;
    left: 12.5vw;
  }
  .pm{
    left: 10vw;
    width: 28vw;
    top:17vh;
    transform: scale(0.7);
  }
  .screen p{
    width: 19vw;
  }
  .numbers{
    top: 2vh;
    left: 10vw;
    width: 7.6vw;
  }
  .bolt2 img, .bolt-logo img{
    top: -4vh;
  }
  .bolt1 img, .bolt2 img{
    left: 2vw;
  }
  .merzlota{
    top: 9vh;
    transform: scale(0.7);
  }
    .zavod{
      width: 100vw;
      margin: -10vh 0 0 0;
    }
 }
 @media all and (min-width: 320px) and (max-width: 767px) {
   .panel{
     width: 100vw;
     margin: 0 0 0 0;
   }
   .back{
     height: 35vh;
     border-radius: 15px;
   }
   .back2{
     top:10vh;
     left: 0;
     border-radius: 15px;
   }
   .stroke, .stroke2{
     height: 25vh;
     border-radius: 15px;
   }
   .stroke2{
     width: 50vw;
     left: 10vw;
     height: 30vh;
   }
   .stroke{
     width: 27vw;
     left: 64vw;
     height: 30vh;
   }
   .lights{
     display: none;
   }
   .footter{
   top: 18vh;
   left: 76.5vw;
   width: 35vw;
   }
   .footter p{
      font-size: 12px;
   }
   .indicator{
   transform: scale(0.38);
   width: 66vw;
   left: 45.5vw;
   top: 28vh;
   }
   .indicator p{
   font-size: 26px;
   top: -1.7vh;
   left: 10vw;
   }
   .botton2, .botton3, .botton4{
   transform: scale(2.5);
   margin-top: 3vh;
   }
   .botton1{
     display: none;
   }
   .big-bottons{
   left: 73.5vw;
   top: 5.5vh;
   }
   .botton1 p, .botton2 p, .botton3 p, .botton4 p{
   font-size: 5px;
   top: 5.6vh;
   }
   .botton1 p{
   top: 5vh;
   }
   .play {
   display: none
   }
   .play21 {
   transform: scale(0.7);
   top: 84vh;
   left: 25vw;
   }
   .play22 {
   transform: scale(0.7);
   top: 84vh;
   left: 41vw;
   }
   .play23 {
   transform: scale(0.7);
   top: 84vh;
   left: 57vw;
   }
   .play23 p {
   top: 10vh;
   left: 6vw;
   }
   .play22 p {
   top: 10vh;
   left: 6vw;
   }
   .play21 p {
   top: 10vh;
   left: 6vw;
   }

   .polzunok2 {
   display: none;
   }
   .polzunok1{
   transform: scale(0.6);
   left: 38vw;
   top: 3vh;
   }
   .polzunok1 p{
   left: 4.5vw;
   }
   .circle1{
   top: 25vh;
   left: 17vw;
   transform: scale(1);
   }
   .circle2{
   top: 23vh;
   left: 37vw;
   transform: scale(0.75);
   }
   .circle2 p{
   font-size: 14px;
   left: 6vw;
   top: 1vh;
   }
   .circle1 p{
   font-size: 11px;
   left: 4vw;
   top: 1.5vh;
   }
   .circle-polzunok1{
   left: 5vw;
   }
   .title1 p{
   font-size: 12px;
   }
   .title2 p{
   font-size: 12px;
   }
   .title1{
   width: 25vw;
   top: 2.9vh;
   left:66vw;
   }
   .title2{
   width: 33vw;
   top: 2.5vh;
   left: 20vw;
   }
   .points{
   margin: -7.6vh 0 0 9.5vw;
   transform: scale(0.8);
   }
   .points2{
   margin: -11vh 0 0 10vw;
   }
   .screen{
   transform: scale(0.5);
   top: 5vh;
   left: 16vw;
    }
    .screen img{
    transform: scaleX(1.5);
     }
   .pm{
   left: 10.5vw;
   width: 35vw;
   top:16vh;
   transform: scale(0.8);
   }
   .screen p{
   width: 29vw;
   font-size: 20px;
   }
   .numbers{
   top: 2vh;
   left: 17vw;
   width: 11.8vw;
   }
   .bolt2 img, .bolt-logo img{
   top: 2vh;
   }
   .bolt1 img, .bolt2 img{
   left: 2vw;
   }
  .bolts img{
    transform: scale(1.8);
  }
   .merzlota{
   top: 12vh;
   transform: scale(0.7);
   }
   .zavod{
     width: 100vw;
     margin: -10vh 0 0 0;
   }
 }
